<p id="notice"><%= notice %></p>

<p>
  <strong>Dataset Name:</strong>
  <%= @dataset.dataset_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dataset.description %>
</p>

<p>
  <strong>Records:</strong>
 <% @dataset.records.each do |record| %>
  <%= record.data %>
 <% end %>
</p>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
