<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dataset.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dataset.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @dataset.user %>
</p>

<%= link_to 'Edit', edit_dataset_path(@dataset) %> |
<%= link_to 'Back', datasets_path %>
